<template name="Calendar_Form_Control">
  {{!
    Implements a calendar field.

    Parameters: required, label, name, id, placeholder, value, errorMessage.
      name, id, and placeholder are optional and default to label.
      value and required are optional.

    Here's an example:

    <div class="required field">

      <label>Date</label>
      <div class="ui calendar">
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <input type="text" name="Date" id="Date" placeholder="Date/Time">
        </div>
      </div>
    </div>
    }}
  <div class="{{#if required}}required{{/if}} field">
    <label>{{label}}</label>
    <div class="ui calendar">
      <div class="ui input left icon">
        <i class="calendar icon"></i>
        <input type="text"
               name="{{#if name}}{{name}}{{else}}{{label}}{{/if}}"
               id="{{#if id}}{{id}}{{else}}{{label}}{{/if}}"
               placeholder="{{#if placeholder}}{{placeholder}}{{else}}{{label}}{{/if}}"
               value="{{value}}">
      </div>
    </div>
    {{> Form_Error_Message errorMessage=errorMessage}}
  </div>
</template>


