<template name="Cas_Login">
  <div class="ui primary {{size}}">
      {{#if currentUser}}
    <button style="background-color: whitesmoke; border: 2px outset gray;" class="ui animated fade button cas-logout">
      <div style="font-size: 16px; color: black;" class="visible content">Logout</div>
      <div style="font-size: 25px; padding-top: 5px;" class="hidden content">
        <i class="window close icon"></i>
      </div>
    </button>
      {{else}}
    <button style="background-color: whitesmoke; border: 2px outset gray;" class="ui animated fade button cas-login">
      <div style="font-size: 16px; color: black;" class="visible content">Login</div>
      <div style="font-size: 25px; padding-top: 5px;" class="hidden content">
        <i class="power icon"></i>
      </div>
    </button>
      {{/if}}
    </div>
</template>