.user-layout-body {
  padding-top: 100px;
  background: url("https://media.giphy.com/media/dGYQ84NqIQhj2/giphy.gif") no-repeat center center fixed;
  background-size: cover;
}

.ui.top.fixed.borderless.inverted.teal.menu{
  background-color: #4272B9;
  box-shadow: none;
  border: none;
  font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
}

footer{
  background-color: transparent;
  color: white;
  font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1{
  font-family: "fantasy", sans-serif;
  font-style: normal;
  font-weight: 200;
}

