<template name="Interests_Form_Field">
  <div class="{{#if required}}required{{/if}} field">
    <label>Interest(s)</label>
    <select multiple="" class="ui dropdown" name="interests">
      <option value="">Select Interest(s)</option>
      <option value="adventure">Adventure</option>
      <option value="battleArena">Battle Arena</option>
      <option value="boardGames">Board Games</option>
      <option value="building">Building</option>
      <option value="emprire">Empire</option>
      <option value="fighting">Fighting</option>
      <option value="fpShooter">First Person Shooter</option>
      <option value="flightSim">Flight Simulator</option>
      <option value="mmorpg">MMORPG</option>
      <option value="racing">Racing</option>
      <option value="rhythm">Rhythm</option>
      <option value="rpg">Role Playing Games</option>
      <option value="simulation">Simulation</option>
      <option value="sports">Sports</option>
      <option value="survival">Survival</option>
      <option value="tower">Tower Defense</option>
      <option value="turnBased">Turn Based Strategy</option>
    </select>
  </div>
</template>