<template name="LFG_Directory">
  <script>
/*    function buildUser()
    {
      var a = document.createElement('a');
      var i = document.createElement('i');
      var href = "mailto:" + document.getElementById("username").textContent.replace(/\s+/g, '') + "@hawaii.edu";

      a.setAttribute('href', href);
      i.setAttribute('class', 'mail icon')

      a.appendChild(i);
      document.getElementById("userCell").appendChild(a);
      console.log("Works in default firefox. Chrome handles the mailto: functionality different than firefox, you'll need to check your handlers are fine. If you use IE lol why ")

    }*/
  </script>
  <tr>
    <td id="userCell">
      <div id ="username">
      <!--  <script>buildUser();</script>-->
        <a href="mailto:{{ lfg.username }}@hawaii.edu">
          <i class="mail icon"></i>
        </a>
        <a class="{{isActiveRoute "Profile_Page"}} item" href="{{pathFor "Profile_Page" username=lfg.username}}">{{ lfg.username }}</a>
      </div>

    </td>
    <td>
      {{ lfg.game }}
    </td>
    <td>
      {{ lfg.starttime }}
    </td>
    <td>
      {{ lfg.endtime }}
    </td>
    <td>
      {{ lfg.other }}
    </td>
  </tr>

</template>