.directory-page-body {
  background-color: #00B5AD;
}

.ui.card {
  display: inline-block;
  margin: 10px;
}

.ui.card,
.ui.cards>.card {
  background-color: lightsteelblue;
  color: white;
}

h2{
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 200;
}

.ui.label{
  background-color: #2185d0;
  color: white;
}

